body {
    font-family: cursive;
    background-color: #e9cbe8;
}

header {
    background-color: rgb(175, 147, 184);
    text-align: center;
    color: white;
    padding: 50px;
    font-size: larger
}



nav ul {
    background-color: #9e659b;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;

}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #cf97cd;
}


main {
    color: rgb(41, 39, 39);
    padding: 20px;
}

article {
    padding: 50px;
    margin: 25px;
    margin-block: 20px;
    background-color: rgb(175, 147, 184);
    color: whitesmoke;
}

footer {
    background-color: #9e659b;
    padding: 10px;
    margin: 50;
    text-align: center;
    color: whitesmoke;
}


aside {
    color: rgb(19, 42, 255);
    text-align: center;
}